[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tinytuya = "*"
python-dotenv = "*"
pylint = "*"
flet = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"
